<!DOCTYPE html>
<html>
    <head>
        <title>Ex00: Markdown Cheatsheet.</title>
    </head>
    <body>
        <h2>제목</h2>
        <p>
            #의 개수로 크기 표현 가능
        </p>
        <ul>
            <li># 제목1</li>
            <li>## 제목2</li>
        </ul>

        <h2>강조</h2>
        <p>
            내용 양쪽에 기호를 넣어서 강조
        </p>
        <ul>
            <li>*기울임* _기울임_</li>
            <li>**두껍게** __두껍게__</li>
            <li>_**기울임-두껍게**_</li>
            <li>~~취소선~~</li>
        </ul>

        <h2>목록</h2>
        <p>
            순서 있는, 순서 없는, 중첩의 목록
        </p>
        <ul>
            <li>"1. ": ordered</li>
            <li>"- ": unordered</li>
            <li>"* ": unordered</li>
            <li>"+ ": unordered</li>
        </ul>

        <h2>링크</h2>
        <p>
            링크
        </p>
        <ul>
            <li>[naver](https://naver.com)</li>
        </ul>

        <h2>이미지</h2>
        <p>
            이미지
        </p>
        <ul>
            <li>![logo](http://www.gstatic.com/webp/gallery/2.jpg)</li>
        </ul>

        <h2>코드</h2>
        <p>
            language등.. syntax highlight 적용
        </p>
        <ul>
            <li>```python<br>a = 3<br>```</li>
            <li>```c++<br>int a = 3<br>```</li>
        </ul>

        <h2>인용문</h2>
        <p>
            인용문
        </p>
        <ul>
            <li>> 인용문 내용</li>
            <li>>> 인용문 중첩</li>
        </ul>

        <h2>수평선</h2>
        <p>
            수평선, -, *, _ 기호를 3번 연속 씀
        </p>
        <ul>
            <li>---, ***, ___</li>
        </ul>
    </body>
</html>
