{% load bootstrap3 %}
<table class="table">
    <thead>
        <tr>
            <th>date</th>
            <th>author</th>
            <th>content</th>
        </tr>
    </thead>
    <tbody>
        {% for tip in tips %}
        <tr>
            <td>{{tip.date}}</td>
            <td>{{tip.author}}</td>
            <td>{{tip.content}}</td>

            {% if user.is_authenticated %}
            <td>
                {% url 'tip_like' tip.pk as url %}
                {% include 'ex/postbtn.html' with name=tip.like_description url=url active=tip.like_pressed %}

                {% if tip.hateable %}
                    {% url 'tip_hate' tip.pk as url %}
                    {% include 'ex/postbtn.html' with name=tip.hate_description url=url active=tip.hate_pressed %}
                {% endif %}

                {% if tip.deleteable %}
                    {% url 'tip_delete' tip.pk as url %}
                    {% include 'ex/postbtn.html' with addclass="btn-danger" name='삭제' url=url %}
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
